.container-card {
    display: flex;
    padding-top: 50px; 
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
}

.container-card .team-card{
 display: flex;
 flex-wrap: wrap;
 padding: 15px;
}

 .team-card .text-card h3{
  margin-left: 5px;
  margin-right: 50px;
  margin-top: 30px;
  font-size: 25px;
  font-weight: bold;
}
.team-card .text-card h5{
    margin-left: 5px;
    margin-right: 50px;
    margin-top: 15px;
    font-size: 17px;
}
.team-card .text-card span{
    margin-left: 5px;
    margin-right: 50px;
    margin-top: 15px;
    font-size: 15px;
}


.team-card img{
    height: 150px;
}